@model Deck
<h1>Deck ID: @Model.deck_id</h1>
<h2>Now would you like to shuffle or draw a card?</h2>
<br />
<form action="/Home/Shuffle" method="post">
    <input value="@Model.deck_id" type="hidden" name="id"/>
    <button type="Submit">Shuffle</button>
</form>
<br />
<form action="/Home/DrawCard" method="post">
    <p>Number of cards to draw</p>
    <input type="number" name="amount" />
    <input value="@Model.deck_id" type="hidden" name="id" />
    <button type="Submit">Draw Card</button>
</form>
